<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <a class="btn btn-primary" id="novoEvento" [routerLink]="['/novo-evento']">
                <span title="Novo Evento" class="glyphicon glyphicon-plus-sign"></span> Novo Evento
            </a>
        </div>
    </div>
</div>
<br>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>
<p>lista-eventos works!</p>